<p>Välj vilket avsnitt du vill se i vänsterspalten.</p>

<p>Just nu är det testdata från <a href="https://twitter.com/nicklaslof">@niklaslof</a>, tackar!</p>

<p>Just nu förutsätts att varje avsnitt började 20:00 på den tisdagen, så chatten kan vara något ur sync.</p>