<p>Välj vilket avsnitt du vill se i vänsterspalten.</p>

<p>Avsnitt 213-243 är arkiverade loggar från <a href="https://twitter.com/nicklaslof">@niklaslof</a>, tackar!</p>

<p>För dessa förutsätts att varje avsnitt började 20:00 på den tisdagen, så chatten kan vara något ur sync.</p>

<p>För avsnitt 244 och framåt så har vi sparat exakt tidpunkt när sändningen började för att få bättre sync på chatten.</p>